<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Profile</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/profile">{{model.currentUser.firstName}}</a></li>
                <li><a ng-click="model.logout()">Logout</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <div class="container-fluid">

        <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>

        <label for="username">Username</label>
        <input type="text"
               id="username"
               class="form-control"
               ng-model="model.user.username"/>

        <label for="email">Email</label>
        <input type="email"
               id="email"
               class="form-control"
               ng-model="model.user.email"/>

        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
               class="form-control"
               ng-model="model.user.firstName">

        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               class="form-control"
               ng-model="model.user.lastName"/>


        <a href="#/user/{{model.userId}}/website"
           class="btn btn-block btn-primary">Your Websites</a>
        <a class="btn btn-success btn-block"
           ng-click="model.updateUser(model.userId, model.user)">Update</a>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteUser(model.userId)">Delete</a>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Profile
            </a>
        </div>
    </div>
</nav>