<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Register</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/register">Register</a></li>
                <li><a href="#/login">Login</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <div class="container-fluid">
        <h1>Register</h1>

        <div class="alert alert-danger" ng-show="model.error">
            {{ model.error }}
        </div>

        <label for="username">Username</label>
        <input type="text"
               id="username"
               placeholder="username"
               class="form-control"
               ng-model = "username"/>

        <label for="email">Email</label>
        <input type="text"
               id="email"
               placeholder="email"
               class="form-control"
               ng-model="email">

        <label for="firstname">First Name</label>
        <input type="text"
               id="firstname"
               placeholder="first name"
               class="form-control"
               ng-model="firstName">

        <label for="lastname">Last Name</label>
        <input type="text"
               id="lastname"
               placeholder="last name"
               class="form-control"
               ng-model="lastName">

        <label for="password">Password</label>
        <input type="password"
               id="password"
               placeholder="password"
               class="form-control"
               ng-model="password">

        <label for="verifypassword">Verify Password</label>
        <input type="password"
               id="verifypassword"
               placeholder="verify password"
               class="form-control"
               ng-model="verifyPassword">

        <a ng-click="model.register(username, password, verifyPassword, email, firstName, lastName)" class="btn btn-block btn-primary">Register</a>
        <a href="#/" class="btn btn-block btn-success">Cancel</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Register
            </a>
        </div>
    </div>
</nav>