<div class="container-fluid stc-contentpane">
    <a href="#/admin/user/new" class="btn btn-info">Create New User</a>
    <div>
        <ul class="list-group">
            <li class="vs-active list-group-item">All Users</li>
            <li class="list-group-item"
                ng-repeat="player in model.players">{{player.username}}

                <span class="glyphicon glyphicon-remove pull-right"
                      ng-click="model.deletePlayer(player)"></span>
                <a href="#/admin/player/{{user._id}}">
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>