<div class="container-fluid stc-contentpane">

    <div class="btn-group-justified">
        <a href="#/admin/player/new" class="btn btn-success">Create New User</a>
        <a ng-click="model.deleteAllMessages()" class="btn btn-danger">Clear the Logbook</a>
    </div>
    <div>
        <ul class="list-group">
            <li class="vs-active list-group-item">All Users</li>
            <li class="list-group-item"
                ng-repeat="player in model.players">{{player.username}}

                <span class="glyphicon glyphicon-remove pull-right"
                      ng-click="model.deletePlayer(player)"></span>
                <a href="#/admin/player/{{player._id}}">
                    <span class="stc-glyphcolor glyphicon glyphicon-pencil pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>