<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid text-center">

        <a href="#/player/{{model.userId}}/campaign">
            <span class="navbar-text pull-left glyphicon glyphicon-menu-left"></span>
        </a>

        <a href="#/">
            <h3 class="navbar-text col-xs-10">DiceRole</h3>
        </a>

        <a href="#/profile">
            <span class="navbar-text pull-right glyphicon glyphicon-user"></span>
        </a>

    </div>
</nav>

<div class="col-sm-4 hidden-xs container-fluid stc-contentpane">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-9">
                    Character Name
                </div>
                <div class="col-xs-3">
                    <a href="#/player/{{model.userId}}/campaign/{{model.campaignId}}/character/new">
                        <span class="glyphicon glyphicon-plus pull-right stc-headerglyph"></span>
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="character in model.characters">
            <div class="row">
                <div class="col-xs-9">
                    <a href="">{{character.name}} </a>
                </div>
                <div class="col-xs-3">
                    <a ng-if="campaign._user._id == model.userId" href="#/player/{{model.userId}}/campaign/{{campaign._id}}/character/{{character._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span></a>
                    <a ng-if="campaign._user._id == model.userId" href="#/player/{{model.userId}}/campaign/{{campaign._id}/character/{{character._id}}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span></a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-fixed-bottom bg-info">
    <div class="container-fluid text-center">

        <a href="#/player/{{model.userId}}/campaign">
            <span class="navbar-text pull-left glyphicon glyphicon-book"></span>
        </a>

        <a href="#/logbook">
            <span class="navbar-text pull-right glyphicon glyphicon-th-large"></span>
        </a>

    </div>
</nav>