<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid text-center">

        <a href="#/campaign/{{model.campaignId}}/character">
            <span class="navbar-text pull-left glyphicon glyphicon-menu-left"></span>
        </a>

        <a href="#/">
            <h3 class="navbar-text col-xs-10">DiceRole</h3>
        </a>

        <a href="#/profile">
            <span class="navbar-text pull-right glyphicon glyphicon-user"></span>
        </a>

    </div>
</nav>

<div class="container-fluid stc-contentpane">

    <div class="col-sm-4 hidden-xs stc-contentpane">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-9">
                        Character Name
                    </div>
                    <div class="col-xs-3">
                        <a href="#/campaign/{{model.campaignId}}/character/new">
                            <span class="glyphicon glyphicon-plus pull-right stc-headerglyph"></span>
                        </a>
                    </div>
                </div>
            </li>


            <li class="list-group-item" ng-repeat="character in model.characters">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="#/campaign/{{model.campaignId}}/character/{{character._id}}/view">{{character.name}}</a>
                    </div>
                    <div class="col-xs-3">
                        <a ng-if="(message._user.toString() == model.userId) || (model.isAdmin)"
                           ng-click="model.deleteCharacter(character._id)">
                            <span class="glyphicon glyphicon-remove pull-right"></span></a>
                        <a ng-if="(message._user.toString() == model.userId) || (model.isAdmin)"
                           href="#/campaign/{{model.campaignId}}/character/{{character._id}}">
                            <span class="glyphicon glyphicon-pencil pull-right"></span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>



        <div class=" col-sm-8 col-xs-12">

            <h1 class="text-center">{{model.character.name}}</h1>
            <img class="center-block hidden-xs" src="/project/views/resources/d20.jpg" height="317" width="320"/>
            <img class="center-block visible-xs" src="/project/views/resources/d20.jpg" height="150" width="160"/>
            <h2><b>Class:</b> {{model.character.class}}</h2>
            <h2><b>Level:</b> {{model.character.level}}</h2>
            <h2><b>Race:</b> {{model.character.race}}</h2>
            <h2><b>Age:</b> {{model.character.age}}</h2>
            <h2><b>Height:</b> {{model.character.height}}</h2>
            <h2><b>Weight:</b> {{model.character.weight}}</h2>
            <h2><b>Backstory:</b> <p>{{model.character.backstory}}</p></h2>
        </div>
</div>

<nav class="navbar navbar-fixed-bottom bg-info">
    <div class="container-fluid text-center">

        <a href="#/campaign">
            <span class="navbar-text pull-left glyphicon glyphicon-book"></span>
        </a>

        <a href="#/logbook">
            <span class="navbar-text pull-right glyphicon glyphicon-th-large"></span>
        </a>

    </div>
</nav>