<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Characters</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/profile">{{model.currentPlayer.firstName}}</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1">
                    <a href="#/player/{{model.userId}}/campaign">
                        <span class="glyphicon glyphicon-menu-left pull-left"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-9">
                    Character Name
                </div>
                <div class="col-xs-3">
                    <a href="#/player/{{model.userId}}/campaign/{{model.campaignId}}/character/new">
                        <span class="glyphicon glyphicon-plus pull-right stc-headerglyph"></span>
                    </a>
                </div>

            </div>
        </li>

        <li class="list-group-item" ng-repeat="character in model.characters">
            <div class="row">
                 <div class="col-xs-9">
                     <a href="#/player/{{model.userId}}/campaign/{{model.campaignId}}/character/{{character._id}}/widget">{{character.name}} </a>
                </div>
                <div class="col-xs-3">
                    <a href="#/player/{{model.userId}}/campaign/{{model.campaignId}}/character/{{character._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span></a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Characters
            </a>
        </div>
    </div>
</nav>