<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid text-center">

        <a href="#/campaign/{{model.campaignId}}/character">
            <span class="navbar-text pull-left glyphicon glyphicon-menu-left"></span>
        </a>

        <a href="#/">
            <h3 class="navbar-text col-xs-10">DiceRole</h3>
        </a>

        <a href="#/profile">
            <span class="navbar-text pull-right glyphicon glyphicon-user"></span>
        </a>

    </div>
</nav>

<div class="container-fluid stc-contentpane">

    <div class="col-sm-4 hidden-xs stc-contentpane">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-9">
                        Character Name
                    </div>
                    <div class="col-xs-3">
                        <a href="#/campaign/{{model.campaignId}}/character/new">
                            <span class="glyphicon glyphicon-plus pull-right stc-headerglyph"></span>
                        </a>
                    </div>
                </div>
            </li>


            <li class="list-group-item" ng-repeat="character in model.characters">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="#/campaign/{{model.campaignId}}/character/{{character._id}}/view">{{character.name}}</a>
                    </div>
                    <div class="col-xs-3">
                        <a ng-if="(character._user.toString() == model.userId) || (model.isAdmin)"
                           ng-click="model.deleteCharacter(character._id)">
                            <span class="glyphicon glyphicon-remove pull-right"></span></a>
                        <a ng-if="(character._user.toString() == model.userId) || (model.isAdmin)"
                           href="#/campaign/{{model.campaignId}}/character/{{character._id}}">
                            <span class="glyphicon glyphicon-pencil pull-right"></span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class=" col-sm-8 col-xs-12">
        <form class="simple-form" novalidate>
            <label for="name">Name</label>
            <input id="name"
                   placeholder="Name"
                   type="text"
                   class="form-control"
                   value=""
                   ng-model="character.name"
                   required/>
            <label for="Class">Class</label>
            <input id="class"
                   placeholder="class"
                   type="text"
                   class="form-control"
                   value=""
                   ng-model="character.class"/>
            <label for="level">Level</label>
            <input id="level"
                   placeholder="level"
                   type="text"
                   class="form-control"
                   value=""
                   ng-model="character.level"/>
            <label for="race">Level</label>
            <input id="race"
                   placeholder="race"
                   type="text"
                   class="form-control"
                   value=""
                   ng-model="character.race"/>
            <label for="age">Age</label>
            <input id="age"
                   placeholder="age"
                   type="text"
                   class="form-control"
                   value=""
                   ng-model="character.age"/>
            <label for="height">Height</label>
            <input id="height"
                   placeholder="height"
                   type="text"
                   class="form-control"
                   value=""
                   ng-model="character.height"/>
            <label for="weight">Weight</label>
            <input id="weight"
                   placeholder="weight"
                   type="text"
                   class="form-control"
                   value=""
                   ng-model="character.weight"/>
            <label for="backstory">Backstory</label>
            <textarea id="backstory"
                      placeholder="backstory"
                      cols="30"
                      rows="3"
                      class="form-control"
                      ng-model="character.backstory"></textarea>
            <input type="submit"
                   class="btn btn-block btn-primary"
                   value="Create Character"
                   ng-click="model.createCharacter(character)">
        </form>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom bg-info">
    <div class="container-fluid text-center">

        <a href="#/campaign">
            <span class="navbar-text pull-left glyphicon glyphicon-book"></span>
        </a>

        <a href="#/logbook">
            <span class="navbar-text pull-right glyphicon glyphicon-th-large"></span>
        </a>

    </div>
</nav>