<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Widget List</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="#/login">Logout</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-menu-left pull-left"></span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div class="widget-list" wbdv-directives="">
        <div ng-repeat="widget in model.widgets" class="stc-widget">
            <div class="stc-widget-toolbar">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
            <div ng-switch="widget.type">
                <div ng-switch-when="HEADING">
                    <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
                </div>

                <div ng-switch-when="HTML">
                    <div ng-include="'views/widget/templates/widget-html.view.client.html'"></div>
                </div>

                <div ng-switch-when="IMAGE">
                    <div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>
                </div>

                <div ng-switch-when="TEXT">
                    <div ng-include="'views/widget/templates/widget-text.view.client.html'"></div>
                </div>

                <div ng-switch-when="YOUTUBE">
                    <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget List
            </a>
        </div>
    </div>
</nav>