<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Widget List</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="/assignment/user/login.html">Logout</a></li>
                <li class="active"><a href="/assignment/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <a href="../page/templates/page-list.view.client.html">
                        <span class="glyphicon glyphicon-menu-left pull-left"></span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="widget-choose.view.client.html">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div class="wd-widget">
        <div class="wd-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>MACRUMORS</h1>
    </div>
    <div class="wd-widget">
        <div class="wd-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>macOS 10.13 Wishlist: Features MacRumors Readers Hope to See in the Next Version of macOS</h3>
    </div>
    <div class="wd-widget">
        <div class="wd-toolbar">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%"
             src="https://cdn.macrumors.com/article-new/2017/05/macos1013-800x500.jpg"/>
    </div>
    <div class="wd-widget">
        <div class="wd-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <p>Redesigned iTunes/Apple Music - Some MacRumors readers would like to see Apple
            overhaul iTunes in a big way, splitting out Apple Music and turning it into
            its own distinct app that's not combined with the App Store and iTunes Store.
        </p>

        <p>
            HomeKit - Connected home products can be controlled through Siri or a dedicated
            Home app on iOS devices, but on the Mac, there's no built-in way to interface
            with a HomeKit setup. A Home app for the Mac would be a welcome addition, and
            perhaps the Mac could even serve as a HomeKit hub like the Apple TV and the iPad.
        </p>
        <p>

            - Expanded Dark Mode - macOS Sierra included a Dark Mode that darkens the dock and
            the drop down menus across the operating system, but several MacRumors readers would
            like to see an expanded Dark Mode that darkens all interface elements like Finder and
            Notification Center.
        </p>
    </div>
    <div class="wd-widget">
        <div class="wd-toolbar">
            <a href="widget-youtube.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="stc-vidcontainer">
        <iframe class="video" width="100%" src="https://www.youtube.com/embed/cPAbx5kgCJo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="wd-widget"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget List
            </a>
        </div>
    </div>
</nav>