<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Choose Widget</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/profile">{{model.currentUser.firstName}}</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-menu-left pull-left"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('HEADING')">Header</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Label
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('HTML')">HTML</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('TEXT')">Text Input</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Link
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Button
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('IMAGE')">Image</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('YOUTUBE')">Youtube</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Data Table
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#">
                        Repeater
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>