<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Edit Website</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/profile">{{model.currentUser.firstName}}</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-menu-left pull-left"></span>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a ng-click="model.updateWebsite(model.websiteId, model.website)">
                            <span class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-9">
                        Website Name
                    </div>
                    <div class="col-xs-3">
                        <a href="#/user/{{model.userId}}/website/new">
                            <span class="glyphicon glyphicon-plus pull-right stc-headerglyph"></span>
                        </a>
                    </div>
                </div>
            </li>


            <li class="list-group-item" ng-repeat="website in model.websites">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-8 col-xs-12">
        <form class="simple-form" novalidate>
        </form>
        <label for="name">Name</label>
        <input type="text"
               id="name"
               placeholder="Name"
               class="form-control"
               ng-model="model.website.name"
               required/>

        <label for="description">Description</label>
        <textarea id="description"
                  placeholder="Description"
                  cols="30"
                  rows="3"
                  class="form-control"
                  ng-model="model.website.description"></textarea>

        <input type="submit"
               class="btn btn-block btn-primary"
               value="Confirm Edits"
               ng-click="model.updateWebsite(model.websiteId, model.website)">

        <a ng-click="model.deleteWebsite(model.websiteId)"
           class="btn btn-block btn-danger">
            Delete
        </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Edit Website
            </a>
        </div>
    </div>
</nav>