 <label for="name">Name</label>
    <input type="text"
           id="name"
           placeholder="Widget Name"
           class="form-control"
           ng-model="model.widget.name"/>

    <label for="text">Text</label>
    <input type="text"
           id="text"
           placeholder="Widget Text"
           class="form-control"
           ng-model="model.widget.text"/>

    <label for="url">URL</label>
    <input type="text"
           id="url"
           placeholder="URL"
           class="form-control"
           ng-model="model.widget.url"/>

    <label for="width">Width (%)</label>
    <input type="text"
           id="width"
           placeholder="100%"
           class="form-control"
           ng-model="model.widget.width"/>