<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid text-center">

        <a href="#/profile">
            <span class="navbar-text pull-left glyphicon glyphicon-menu-left"></span>
        </a>

        <a href="#/">
            <h3 class="navbar-text col-xs-10">DiceRole</h3>
        </a>

        <a href="#/profile">
            <span class="navbar-text pull-right glyphicon glyphicon-user"></span>
        </a>

    </div>
</nav>

<div class="container-fluid stc-contentpane">

    <div class="btn-group-justified fixed" data-toggle="buttons">
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1" autocomplete="off">
            <a href="#/music"><span class="glyphicon glyphicon-cd"></span></a>
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <a href="#/logbook"><span class="glyphicon glyphicon-comment"></span></a>
        </label>

        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">
            <a href="#/dice"><span class="fi-die-two"></span></a>
        </label>
    </div>

    <div class="container-fluid  stc-messagepane stc-h-scroll">

        <li class="list-group-item" ng-repeat="message in model.messages">
            <div class="stc-message">
                <div class="row stc-message-box">
                    <div class="col-xs-9 pull-left">
                        <p><b> {{message.name}}</b></p>
                        <p>
                            {{message.text}}
                        </p>
                    </div>
                    <div class="col-xs-3">
                        <a ng-if="(message._user.toString() == model.userId) || (model.isAdmin)"
                           ng-click="model.deleteMessage(message._id)">
                            <span class="glyphicon glyphicon-remove pull-right"></span></a>
                    </div>
                </div>
            </div>
            <br>
        </li>

    </div>

</div>

<nav class="navbar navbar-fixed-bottom bg-info">

    <div class="container-fluid text-center">

        <form novalidate class="simple-form">
            <div class="col-xs-10 pull-left navbar-text">
                <input type="text"
                       id="message"
                       placeholder="Enter a log entry:"
                       class="form-control"
                       ng-model="message.text"
                       required/>
            </div>


            <a class="navbar-text" ng-click="model.createMessage(message)">
                <span class="col-xs-1 pull-right glyphicon glyphicon-send navbar-text"></span>
            </a>
        </form>
    </div>
</nav>