<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Create New Page</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/user/{{model.userId}}l">
                    <span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="#/login">Logout</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-menu-left pull-left"></span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a ng-click="model.createPage(page)">
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div class="row">
        <div class="col-xs-12">
            <label for="name">Page Name</label>
            <input id="name"
                   placeholder="Name"
                   class="form-control"
                   value=""
                   ng-model="page.name"/>

            <label for="title">Page Title</label>
            <input id="title"
                   placeholder="Title"
                   class="form-control"
                    value=""
                   ng-model="page.description"/>

        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                New Page
            </a>
        </div>
    </div>
</nav>