<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Create New Page</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/profile">{{model.currentUser.firstName}}</a></li>
                <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-menu-left pull-left"></span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a ng-click="model.createPage(page)">
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    </div>

    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-9">
                        Page Name
                    </div>
                    <div class="col-xs-3">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                            <span class="glyphicon glyphicon-plus pull-right stc-headerglyph"></span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item" ng-repeat="page in model.pages">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}} </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

        <div class="col-sm-8 col-xs-12">
            <form class="simple-form" novalidate>
                <label for="name">Page Name</label>
                <input id="name"
                       placeholder="Name"
                       class="form-control"
                       ng-model="page.name"
                       required/>

                <label for="title">Page Title</label>
                <input id="title"
                       placeholder="Title"
                       class="form-control"
                       ng-model="page.description"/>
                <input type="submit"
                       class="btn btn-block btn-primary"
                       value="Create Page"
                       ng-click="model.createPage(page)">
            </form>
        </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                New Page
            </a>
        </div>
    </div>
</nav>